/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/Resources/assets/bower/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/Resources/assets/bower/.gitkeep
/bin/
/build/
/composer.phar
/vendor/
/web/bundles/
/web/css/*
/web/js/*
!web/css/.gitkeep
!web/js/.gitkeep
