<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            {% stylesheets '../app/Resources/assets/css/app.scss' filter='sass' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% javascripts '../app/Resources/assets/bower/foundation/js/vendor/custom.modernizr.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
                '../app/Resources/assets/bower/jquery/jquery.js'
                '../app/Resources/assets/bower/foundation/js/foundation/foundation.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script>
                $(document).foundation();
            </script>
        {% endblock %}
    </body>
</html>
